<style type="text/css">
.tabela{
	float: left;
	margin-right: 20px;
}
.show{
	display: compact;
}
.hide{
	display: none;
}
.link{
	cursor: pointer;
}
</style>
<script src="controllers/controller.consultaCotacao.js"></script>
<!-- widget grid -->
<section ng-controller='consultaCotacao' id="widget-grid" widget-grid>
	<!-- START ROW -->
	<div class="row">
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Cotações de Preços</h2> 
				</header>
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<form id="consultaCotacao-form" class="smart-form" novalidate="novalidate" validate-form>
							<fieldset>
								<div class="row">
									<section class="col col-lg-12 col-md-12 col-sm-12">
										<div class="table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr style="background: #009587; color: #fff;">
														<th></th>
														<th>Processo de Compras</th>
														<th>Descrição</th>
														<th>Comprador</th>
														<th>Situação</th>
														<th align="center">Ações</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="cotacao in cotacoes">
														<td width="1%"><i class="{{cotacao.classe}}" 
															ng-click="abre($index)"></i></td>
															<td width="15%">{{cotacao.id}}</td>
															<td width="30%">{{cotacao.descricao}}</td>
															<td>{{cotacao.comprador}}</td>
															<td>{{cotacao.situacao_compra}}</td>
															<td style="display:table-cell;vertical-align:middle">
																<button ng-click="aprovarCotacao(cotacao)" popover="Aprovar" popover-trigger="mouseenter" class="btnmd btnmd-primary btnmd-raised fa fa-check btnmd-sm"><div class="ripple-wrapper"></div></button>
																<button ng-click="abreModal(cotacao)" popover="Reprovar" popover-trigger="mouseenter" class="btnmd btnmd-danger btnmd-raised fa fa-times-circle btnmd-sm"><div class="ripple-wrapper"></div></button>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</section>
									</div>
									<div class="row" ng-show="show == true">
										<section class="col col-lg-12 col-md-12 col-sm-12">
											<div class="table-responsive" ng-repeat="item in cotacaoSelected.items" >
												<table class="table table-bordered">
													<tr>
														<td colspan="6"  style="max-width:100px;">
															<div class="col-lg-6">
																
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th colspan="3">Compra: {{cotacaoSelected.id}} </th>
																		</tr>
																		<tr>
																			<th width="70%">Ítem</th>
																			<th>Unidade</th>
																			<th>Quantidade</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td style="padding-bottom: 20px;">{{item.descricao_produtos_servicos}}</td>
																			<td style="padding-bottom: 20px;">{{item.unidade_medida}}</td>
																			<td style="padding-bottom: 20px;">{{item.quantidade}}</td>
																		</tr>
																		<!-- <tr>
																			<td colspan="3" align="right">Total bruto:</td>
																		</tr>
																		<tr>
																			<td colspan="3" align="right">Imposto:</td>
																		</tr>
																		<tr>
																			<td colspan="3" align="right">Total líquido:</td>
																		</tr> -->
																	</tbody>
																</table>
															</div>
															
															<div class="col col-lg-6" style="overflow: auto;">
																<!-- TABELA DE FORNECEDORES -->
																<div style="width:50000px;">
																	<div ng-repeat="fornecedor in item.fornecedores" style="float: left; width:300px; margin-right:15px;">		
																		<!-- <table ng-show="{{item.id_produtos_servicos == fornecedor.id_produtos_servicos}}" class="table table-bordered"> -->
																		<table class="table table-bordered">
																			<thead>
																				<tr style="background: #009587; color: #fff;">
																					<th colspan="4" align="center">Fornecedor: {{fornecedor.nome_fornecedor}}</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr>
																					<td>Valor Unitário</td>
																					<td>Total</td>
																					<!-- <td>IPI</td> -->
																					<td></td>
																				</tr>
																				<tr>
																					<td style="padding-top: 0px;">
																						<input ui-money-mask="2" type="text" ng-model="fornecedor.valor_unitario" class="form-control">
																					</td>
																					<td style="padding-top: 0px;">
																						<input ui-money-mask="2" ng-if="fornecedor.valor_unitario" type="text" class="form-control" value="{{item.quantidade * fornecedor.valor_unitario}}">
																					</td>
																					<!-- <td style="padding-top: 0px;"></td> -->
																					<td><button ng-click="cadastraCotacao(item.fornecedores[$index], fornecedor.valor_unitario, item.id, item.fornecedores[$index].id_fornecedor, cotacaoSelected.items[$index].quantidade)" popover="Incluir Cotação" popover-trigger="mouseenter" class="btnmd btnmd-primary btnmd-raised fa fa-check btnmd-sm">
																						<div class="ripple-wrapper"></div>
																					</button>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</table>
										</div>
									</section>
								</div>
							</fieldset>
							<footer>
								<!-- <button class="btnmd btnmd-info pull-right" ng-click="enviarAprovacao()" id="enviarAprovacao">
									Enviar para aprovação
								</button> -->
							</footer>
						</form>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</article>
		<!-- END COL -->
	</div>
	<!-- END ROW -->
	<div class="modal fade" id="aprovacao">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Rejeitar Pedido</h4>
				</div>
				<div class="modal-body">
					<form id="cadastroJustificativa-form" class="smart-form" novalidate="novalidate" validate-form>  
						<section class="section"> 
							<div class="form-group">
								<div class="form-control-wrapper inputValidate">
									<input class="form-control empty" name="justificativa" id="justificativa" type="text"  ng-model="justificativa"
										data-validate-input 
										data-required
										data-message-required="Por favor, informe a justificativa"><div class="floating-label">Justificativa</div>
									<b class="tooltip tooltip-top-right">
									<i class="fa fa-warning txt-color-teal"></i> 
									Justificativa da regeição do pedido</b>
									<span class="material-input"></span>
								</div>
							</div>
						</section>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnmd btnmd-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btnmd btnmd-primary" ng-click="reprovarCotacao(cotacoes,justificativa)">Salvar</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end widget grid -->

<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
/* DO NOT REMOVE : GLOBAL FUNCTIONS!
*
* pageSetUp() is needed whenever you load a page.
* It initializes and checks for all basic elements of the page
* and makes rendering easier.
*
*/
pageSetUp();
</script>