<script src="controllers/controller.consultaMovimentacao.js"></script>
<style type="text/css">
	.hover{
		background-color: #EF6C00;
		color: #ffffff;
	}
</style>
<!-- START ROW -->
<div class="row" ng-controller="consultaMovimentacao" id="widget-grid" widget-grid>
	<!-- NEW COL START -->
	<article class="col-sm-12 col-md-12 col-lg-12">
		<!-- Widget ID (each widget will need unique ID)-->
		<div class="jarviswidget jarviswidget-color-darken" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
			<header>
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h2>Lançamento de contas</h2>
			</header>
			<!-- widget div-->
			<div>
				<!-- widget content -->
				<div class="widget-body no-padding">
					<form id="cadastroMovimentacao-form" class="smart-form">
						<fieldset>
							<section class="col col-sm-12 col-md-12 col-lg-12" style="background: #F0F0EE; padding-top:10px; padding-bottom:10px;">
								<div class="col-sm-7" >
									<h4 class="alert-heading">{{tabssel.nome}}</h4>
								</div>
								<section class="col col-3" ng-hide="saldo == null">
									<label class="label"><strong>Conta bancária </strong></label>
									<div class="form-group form-control-wrapper inputValidate">
										<select class="form-control" id="conta_bancaria" name="conta_bancaria"
											ng-change="trocaSaldo()"
											ng-model="search.id_conta_bancaria"
											data-validate-input
											data-required 
											data-message-required="Selecione a situação">
											<option value="" selected>Total</option>
											<option value="{{conta.id}}" data-ng-repeat="conta in conta_bancaria">{{conta.descricao}}</option>	
										</select>
										<i></i>
									</div>
								</section>
								<div class="col-sm-2" ng-hide="saldo == null">
									<label class="label" style="margin-top: 7px;" align="right"><strong>&nbsp;</strong></label>
									<!--{{resumo.creditos-resumo.debitos | currency}}-->
									{{saldo | currency}}
								</div>
							</section>
						</fieldset>
						<fieldset>
							<div class="row">
								<section class="col-sm-12 col-md-12 col-lg-12">
									<div class="col col-sm-3 col-md-3 col-lg-3">
									<!-- btnmd btnmd-primary btnmd-raised -->
										<button id="lancarContas" 
										popover="{{tabssel.texto}}" 
										popover-trigger="mouseenter"
										class="btnmd {{tabssel.classe}} btnmd-sm" ng-click="lancarContas(tabssel.indice)"><i class="glyphicon glyphicon-plus"></i> {{tabssel.texto}}</button>
										<a id="delRows" class="btn btn-success btn-danger btn-sm" ng-show="btnDelete" href="javascript:void(0);"
										popover="Excluir" 
										popover-trigger="mouseenter"
										><i class="glyphicon glyphicon-plus"></i> Excluir</a>
									</div>
									<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
										<div class="col col-xs-4 col-sm-4 col-md-2 col-lg-2 pull-right">
											<select ng-click="changeData()" ng-model="select_ano" ng-options="data.ano for data in anos" class="form-control">
											</select>
										</div>
										<div class="col col-xs-4 col-sm-4 col-md-2 col-lg-2 pull-right">
											<select ng-change="changeData()" ng-model="select_mes" ng-options="data.mes for data in meses" class="form-control">
											</select>
										</div>
									</div>
								</section>
							</div>
							<div class="row">
								<section class="col col-sm-9 col-md-9 col-lg-9">
									<hr class="simple">
									<div class="widget-body">
										<tabset>
											<tab ng-repeat="tab in tabs" select="changeTab($index)" ng-click="changeCalendar($index)" active="tab.active">
												<tab-heading >
													<i ng-if="tab.nome == 'Recebimentos'" class="fa fa-fw fa-credit-card"></i>
													<i ng-if="tab.nome == 'Despesas Fixas'" class="fa fa-fw fa-money"></i>
													<i ng-if="tab.nome == 'Despesas Variáveis'" class="fa fa-fw fa-bar-chart-o"></i>
													<i ng-if="tab.nome == 'Pessoas'" class="fa fa-fw fa-user-plus"></i>
													<i ng-if="tab.nome == 'Impostos'" class="fa fa-fw fa-pie-chart"></i>
													<i ng-if="tab.nome == 'Doações'" class="fa fa-fw fa-heart-o"></i>
													<i ng-if="tab.nome == 'Transferências'" class="fa fa-fw fa-exchange"></i>
													{{tab.nome}}
												</tab-heading>
											</tab>
										</tabset>
										<div id="myTabContent1" class="tab-content padding-10">
											<div class="tab-pane fade in active" id="s1">
												<div class="table-responsive">

													<!-- ******************************* FRH - Transferência ***************************************** --> 
													<!--
													<div class="row" style="background: #F0F0EE; margin: 3px; padding: 10px;" ng-show="tabssel.indice==6">

														<section class="col col-3">
															<label class="label"><strong>Dia</strong></label>
															<label class="input-group form-control-wrapper inputValidate">
																<input class="form-control" 
																		type="text" 
																		pick-a-date="transferencia.dia" 
																		placeholder="Selecione uma data" 
																		pick-a-date-options='{format: "dd/mm/yyyy",formatSubmit: "yyyy-mm-dd",selectYears: 300,}' />
																<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
																<input  style="width:0px; height:0px; visibility: hidden; position: absolute" 
																		name="transferencia_dia" 
																		id="transferencia_dia" 
																		type="text" 
																		ng-model="transferencia.dia"
																		data-validate-input
																		data-required 
																		data-message-required="Por favor, informe o dia da transferência">
															</label>
														</section>

														<section class="col col-4">
															<label class="label"><strong>Descrição</strong></label>
															<div class="form-control-wrapper inputValidate">
																<i class="icon-append fa fa-question-circle"></i>
																<input class="form-control" 
																		name="transferencia_descricao" 
																		id="transferencia_descricao" 
																		placeholder="Descrição"
																		ng-model="transferencia.descricao"
																		data-validate-input
																		data-required 
																		data-message-required="Informe a descrição">
																<span class="material-input"></span>
																<b class="tooltip tooltip-top-right">
																	<i class="fa fa-warning txt-color-teal"></i>
																	Descrição da Transferência</b>
															</div>
														</section>

														<section class="col col-3" ng-hide="saldo == null">
															<label class="label"><strong>Conta Bancária Origem</strong></label>
															<div class="form-group form-control-wrapper inputValidate">
																<select class="form-control" 
																		id="transferencia_conta_bancaria_origem" 
																		name="transferencia_conta_bancaria_origem"																		
																		ng-model="transferencia.id_conta_bancaria_origem"
																		data-validate-input
																		data-required 
																		data-message-required="Selecione a situação">
																	<option value="" selected>Selecione</option>
																	<option value="{{conta.id}}" data-ng-repeat="conta in contas">{{conta.descricao}}</option>	
																</select>
																<i></i>
															</div>
														</section>

														<section class="col col-3" ng-hide="saldo == null">
															<label class="label"><strong>Conta Bancária Destino</strong></label>
															<div class="form-group form-control-wrapper inputValidate">
																<select class="form-control" 
																		id="transferencia_conta_bancaria_destino" 
																		name="transferencia_conta_bancaria_destino"																		
																		ng-model="transferencia.id_conta_bancaria_destino"
																		data-validate-input
																		data-required 
																		data-message-required="Selecione a situação">
																	<option value="" selected>Selecione</option>
																	<option value="{{conta.id}}" data-ng-repeat="conta in contas">{{conta.descricao}}</option>	
																</select>
																<i></i>
															</div>
														</section>

														<section class="col col-xm-12 col-sm-4 col-md-4 col-lg-2">													
															<label class="label"><strong>Moeda</strong></label>
															<div class="form-group form-control-wrapper inputValidate">
																<select class="form-control" 
																		id="transferencia_moeda" 
																		name="transferencia_moeda" 
																		ng-model="transferencia.id_moeda"
																		data-validate-input
					                                           		   	data-required 
					                                            	   	data-message-required="Selecione a moeda">
																	<option value="" selected>Selecione</option>
																	<option value="{{moeda.id}}" data-ng-repeat="moeda in moedas">{{moeda.moeda}}</option>	
																</select>
																<i></i>
															</div>																							
														</section>
														<section class="col col-xm-12 col-sm-4 col-md-4 col-lg-3">
															<label class="label"><strong>Valor</strong></label>
															<div class="form-control form-control-wrapper inputValidate">
																<input 	ui-money-mask="2" 
																		ng-model="transferencia.valor" 
																		class="form-control empty" 
																		id="transferencia_valor" 
																		name="transferencia_valor" 
																		type="text" 
																		data-validate-input 
																		data-required
																		data-message-required="Informe o valor">
																<span class="material-input"></span>
																<b class="tooltip tooltip-top-right">
																<i class="icon-append fa fa-money"></i>
																Valor da Transferência</b>
															</div>												
														</section>

													</div>
													<div class="row" style="background: #F0F0EE; margin: 3px; padding: 10px;" ng-show="tabssel.indice!=6">
														<section class="col col-4">
															<label class="label"><strong>Descrição</strong></label>
															<div class="form-control-wrapper inputValidate">
																<i class="icon-append fa fa-question-circle"></i>
																<input  class="form-control" 
																		name="descricao" 
																		id="descricao" 
																		placeholder="Descrição"
																		ng-model="transferencia.descricao"
																		data-validate-input
																		data-required 
																		data-message-required="Informe a descrição">
																<span class="material-input"></span>
																<b class="tooltip tooltip-top-right">
																	<i class="fa fa-warning txt-color-teal"></i>
																	Descrição da Transferência</b>
															</div>
														</section>
														<section class="col col-4" ng-show="tabssel.indice==1">
															<label class="label"><strong>Categoria</strong></label>
															<div class="form-control-wrapper inputValidate">
																<ui-select ng-model="categoria.selected"
																theme="bootstrap"
																ng-disabled="disabled"
																reset-search-input="false"
																ng-change="changeCategoria(categoria.selected)">
																	<ui-select-match placeholder="Entre com uma palavra ou selecione ">{{$select.selected.descricao}}
																	</ui-select-match>
																	<ui-select-choices group-by="'tipo'" repeat="categoria in categorias | filter:{id_tipo_lancamento: tabssel.id_tipo_lancamento} | propsFilter: {descricao: $select.search}">
																	<div ng-bind-html="categoria.descricao | highlight: $select.search"></div>
																	</ui-select-choices>
																</ui-select>
																<input style="width:0px; height:0px; visibility: hidden; position:absolute" name="categoria" id="categoria" type="text" 
																	ng-model="search.id_categoria"
																	data-validate-input
																	data-required 
																	data-message-required="Selecione a categoria">
															</div>
														</section>
														<section class="col col-4" ng-show="tabssel.indice!=1">
															<label class="label"><strong>Item</strong></label>
															<div class="form-control-wrapper inputValidate">
																<ui-select ng-model="item.selected"
																theme="bootstrap"
																ng-disabled="disabled"
																reset-search-input="false"
																ng-change="changeItem(item.selected)">
																	<ui-select-match placeholder="Entre com uma palavra ou selecione ">{{$select.selected.nome_produto}}
																	</ui-select-match>
																	<ui-select-choices group-by="'tipo'" repeat="item in itens | propsFilter: {nome_produto: $select.search}">
																	<div ng-bind-html="item.nome_produto | highlight: $select.search"></div>
																	</ui-select-choices>
																</ui-select>
																<input style="width:0px; height:0px; visibility: hidden; position:absolute" name="item" id="item" type="text" 
																	ng-model="search.id_produtos_servicos"
																	data-validate-input
																	data-required 
																	data-message-required="Selecione o ítem">
															</div>
														</section>
														<section class="col col-4" ng-show="tabssel.indice==1">
															<label class="label"><strong>Recebido de:</strong> </label>
															<label class="label">
																<div class=" form-control-wrapper inputValidate">
																	<ui-select ng-model="pessoa.selected"
																	theme="bootstrap"
																	ng-disabled="disabled"
																	reset-search-input="false"
																	ng-change="changePessoa(pessoa.selected)">
																		<ui-select-match placeholder="Entre com uma palavra ou selecione">{{$select.selected.nome || $select.selected}}
																		</ui-select-match>
																		<ui-select-choices repeat="pessoa in pessoas track by $index"
																		refresh="getPessoaMovimento($select.search)"
																		refresh-delay="0">
																		<div ng-bind-html="pessoa.nome | highlight: $select.search"></div>
																		</ui-select-choices>
																	</ui-select>
																
																<input style="width:0px; height:0px; visibility: hidden; position:absolute" name="recebidopago" id="recebidopago" type="text" 
																	ng-model="search.id_pessoa"
																	data-validate-input
																	data-required 
																	data-message-required="Selecione o responsável pela conta">
																</div>
															</label>
														</section>	
														<section class="col col-4" ng-show="tabssel.indice!=1">
															<label class="label"><strong>Fornecedor:</strong> </label>
															<div class="form-group form-control-wrapper inputValidate">
																<select class="form-control" id="fornecedor" name="fornecedor" ng-model="search.id_fornecedor"
																		data-validate-input
																		data-required 
																		data-message-required="Escolha o ítem para carregar o fornecedor">
																	<option value="" selected>Selecione</option>
																	<option value="n_fornecedor.id" data-ng-repeat="n_fornecedor in fornecedores">{{n_fornecedor.nome_fornecedor}}</option>	
																</select>
																<i></i>
															</div>
														</section>
														<section class="col col-4">
															<label class="label"><strong>Situação</strong></label>
															<div class="form-group form-control-wrapper inputValidate">
																<select class="form-control" id="situacao" name="situacao" ng-model="search.id_situacao"
																		data-validate-input
																		data-required 
																		data-message-required="Selecione a situação">
																	<option value="" selected>Selecione</option>
																	<option value="{{n_situacao.id}}" data-ng-repeat="n_situacao in situacao">{{n_situacao.descricao}}</option>	
																</select>
																<i></i>
															</div>
														</section>
														<section class="col col-4">
															<label class="label"><strong>
																Centro de Custo</strong></label>
															<div class="form-control-wrapper inputValidate">
																<ui-select ng-model="centro_custo.selected"
																theme="bootstrap"
																ng-disabled="disabled"
																reset-search-input="false"
																ng-change="changeCentroCusto(centro_custo.selected)">
																	<ui-select-match placeholder="Entre com uma palavra ou selecione ">{{$select.selected.descricao}}
																	</ui-select-match>
																	<ui-select-choices group-by="'tipo'" repeat="custo in centro_custo | propsFilter: {descricao: $select.search}">
																	<div ng-bind-html="custo.descricao | highlight: $select.search"></div>
																	</ui-select-choices>
																</ui-select>
																<input style="width:0px; height:0px; visibility: hidden; position:absolute" name="centro_custo" id="centro_custo" type="text" 
																	ng-model="search.id_centro_custo"
																	data-validate-input
																	data-required 
																	data-message-required="Selecione o centro de custo">
															</div>
														</section>
													</div>
													-->

													<section ng-if="tabssel.nome=='Recebimentos'">
														<h2 style="margin-top:10px;" class="text-success font-lg">Esta é a sua tabela de <strong>receitas</strong></h2>
														<p>Receita é toda <strong>entrada de dinheiro</strong> da empresa. Ex: contratos, mensalidades, rendimentos, comissões ou vendas.</p>
													</section>
													<section ng-if="tabssel.nome=='Despesas Fixas'">
														<h2 style="margin-top:10px;" class="text-danger font-lg">Esta é a sua tabela de <strong>despesas fixas</strong></h2>
														<p>Despesas fixas são gastos relativos ao funcionamento da empresa, que não variam conforme a quantidade de vendas. Ex.: conta de água, energia, telefone etc.</p>
													</section>
													<section ng-if="tabssel.nome=='Despesas Variáveis'">
														<h2 style="margin-top:10px;" class="text-danger font-lg">Esta é a sua tabela de <strong>despesas variáveis</strong></h2>
														<p>Despesas variáveis são gastos relacionados com a produção, venda ou manutenção dos produtos e equipamentos. Ex.: publicidade, comissões, combustível etc.</p>
													</section>
													<section ng-if="tabssel.nome=='Pessoas'">
														<h2 style="margin-top:10px;" class="text-danger font-lg">Esta é a sua tabela de <strong>despesas com pessoal</strong></h2>
														<p>Despesas relacionadas às pessoas compreendem a folha de pagamento da empresa. Ex.: salários, adiantamento, pro-labore, FGTS etc.</p>
													</section>
													<section ng-if="tabssel.nome=='Impostos'">
														<h2 style="margin-top:10px;" class="text-danger font-lg">Esta é a sua tabela de <strong>impostos</strong></h2>
														<p>Impostos e tributos são despesas pagas para o governo. Ex.: IPVA, IPTU, Simples Nacional, INSS, ISS.</p>
													</section>
													<section ng-if="tabssel.nome=='Doações'">
														<h2 style="margin-top:10px;" class="text-primary font-lg">Esta é a sua tabela de <strong>doações</strong></h2>
														<p>Receitas relacionadas a doações.</p>
													</section>
													<section ng-if="tabssel.nome=='Transferências'">
														<h2 style="margin-top:10px;" class="text-info font-lg">Esta é a sua tabela de <strong>transferências</strong></h2>
														<p>Se você tiver duas ou mais contas bancárias cadastradas, você pode registrar aqui as transferências de dinheiro entre elas.</p>
													</section>
													
													<section>
														<div ng-show="tabssel.indice==6">
														<table class="table table-bordered table-hover" style="margin-top:10px;">
															<thead>
																<tr>
																	<th ng-click="changeSorting('descricao')" 				width="40%" style="align:center">Descrição</th>
																	<th ng-click="changeSorting('conta_bancaria')" 			width="10%" style="align:center">Conta Origem</th>
																	<th ng-click="changeSorting('conta_bancaria_destino')" 	width="10%" style="align:center">Conta Destino</th>
																	<th ng-click="changeSorting('valor')" 					width="10%" style="align:center">Valor</th>
																	<th ng-click="changeSorting('data_pagamento')" 			width="15%" style="align:center">Data Pagamento</th>
																	<th width="25%" style="align:center">Ações</th>
																</tr>
															</thead>
											               	<tbody>
												                <tr>											                   
												                	<td><input ng-model="search1.descricao" 			 id="search1" class="form-control" placeholder="Descrição"></td>
												                	<td><input ng-model="search1.conta_bancaria" 		 id="search1" class="form-control" placeholder="Conta Bancária"></td>
												                	<td><input ng-model="search1.conta_bancaria_destino" id="search1" class="form-control" placeholder="Conta Bancária Destino"></td>
												                	<td><input ng-model="search1.valor" 				 id="search1" class="form-control" placeholder="Valor"></td>
												                	<td><input ng-model="search1.data_pagamento" 		 id="search1" class="form-control" placeholder="Data Pagamento"></td>
												                	<td></td>
												                </tr>																
																<tr ng-repeat="item in transferencias track by $index | filter:search1:strict | orderBy:sort.active:sort.descending">

																	<td style="display:table-cell;vertical-align:middle">{{item.descricao}}</td>
																	<td style="display:table-cell;vertical-align:middle">{{item.conta_bancaria}}</td>
																	<td style="display:table-cell;vertical-align:middle">{{item.conta_bancaria_destino}}</td>
																	<td style="display:table-cell;vertical-align:middle">{{item.moeda}}</td>
																	<td style="display:table-cell;vertical-align:middle">{{item.data_pagamento.split('-').reverse().join('/')}}</td>
																	<td valign="bottom">
																		<button ng-click="removeTransferencia($index,item)" class="btnmd btnmd-danger btnmd-raised fa fa-trash-o btnmd-sm" popover="Remover" popover-trigger="mouseenter"></button>
																		<button ng-click="editarTransferencia($index,item)" class="btnmd btnmd-primary btnmd-raised fa fa-edit btnmd-sm" popover="Editar" popover-trigger="mouseenter"></button>

																	</td>
																</tr>
															</tbody>
														</table>
														</div>
													</section>
													
													<section>
														<div ng-show="tabssel.indice!=6">
														<table class="table table-bordered table-hover" style="margin-top:10px;">
															<thead>
																<tr>																	
																	<th width="50"></th>
																	<th ng-click="changeSorting('data_vencimento')" width="10%">Data</th>
																	<th ng-click="changeSorting('descricao')">Descrição</th>
																	<th ng-click="changeSorting('pessoa')">Recebido de:</th>
																	<th ng-click="changeSorting('categoria')">Categoria</th>
																	<th ng-click="changeSorting('situacao')">Situação</th>
																	<th ng-click="changeSorting('valor_final')">Valor</th>
																	<th width="13%">Ação</th>
																</tr>
															</thead>
											               	<tbody>
												                <tr>
												                	<td></td>
												                	<td><input ng-model="search.data_vencimento" 	id="search" class="form-control" placeholder="Data Vencimento"></td>
												                	<td><input ng-model="search.descricao" 			id="search" class="form-control" placeholder="Descrição"></td>
												                	<td><input ng-model="search.pessoa" 			id="search" class="form-control" placeholder="Pessoa"></td>
												                	<td><input ng-model="search.categoria" 			id="search" class="form-control" placeholder="Categoria"></td>
												                	<td><input ng-model="search.situacao" 			id="search" class="form-control" placeholder="Situação"></td>
												                	<td><input ng-model="search.valor_final" 		id="search" class="form-control" placeholder="Valor Final"></td>
												                	<td></td>
												                </tr>																
																<tr ng-repeat="dia in resumo.resumoAll track by $index | filter:search:strict | orderBy:sort.active:sort.descending">

																
																	<td style="display:table-cell;vertical-align:middle" ng-show="dia.id_tipo_lancamento == tabssel.indice">
																		<div class="checkbox" ng-show="tabssel.indice == 2">
																			<label>
																				<input type="checkbox" ng-click="updateBordero(dia.id)"><span class="ripple"></span><span class="check"></span>
																			</label>
																		</div>
																	</td>
																	<td style="display:table-cell;vertical-align:middle" ng-show="dia.id_tipo_lancamento == tabssel.indice" width="15%">{{dia.data_vencimento | databr:'dd/MM/yyyy'}}</td>
																	<td style="display:table-cell;vertical-align:middle" ng-show="dia.id_tipo_lancamento == tabssel.indice">{{dia.descricao}}</td>
																	<td style="display:table-cell;vertical-align:middle" ng-show="dia.id_tipo_lancamento == tabssel.indice">{{dia.pessoa}}</td>
																	<td style="display:table-cell;vertical-align:middle" ng-show="dia.id_tipo_lancamento == tabssel.indice">{{dia.categoria}}</td>
																	<td style="display:table-cell;vertical-align:middle" ng-show="dia.id_tipo_lancamento == tabssel.indice">{{dia.situacao}}</td>
																	<td style="display:table-cell;vertical-align:middle" ng-show="dia.id_tipo_lancamento == tabssel.indice" width="15%">{{dia.valor_final| currency}}</td>
																	<td ng-show="dia.id_tipo_lancamento == tabssel.indice"  valign="bottom">
																		<button ng-click="removeLinha($index)" class="btnmd btnmd-danger btnmd-raised fa fa-trash-o btnmd-sm"
																		popover="Remover"
																		popover-trigger="mouseenter"
																		></button>
																		<button ng-click="editarConta($index)" class="btnmd btnmd-primary btnmd-raised fa fa-edit btnmd-sm"
																		popover="Editar"
																		popover-trigger="mouseenter"
																		></button>
																		<button ng-click="alterarBaixa($index)" class="btnmd btnmd-success btnmd-raised fa fa-refresh btnmd-sm" popover="Alterar Situação" popover-trigger="mouseenter"></button>
																	</td>
																</tr>
																<tr style="background-color:#F6F6F6"><td colspan="6">&nbsp;</td><td style="display:table-cell;vertical-align:middle;font-size:12px;"><b>Sub-Total:</b> {{sub | currency}}</td><td>&nbsp;</td></tr>
															</tbody>
														</table>
														<button ng-show="tabssel.indice == 2" style="margin-top:5px" ng-click="gerarBordero()" class="btnmd btnmd-primary btnmd-raised btnmd-sm">Gerar borderô <span style="margin-left:20px" class="glyphicon glyphicon-circle-arrow-down"></span></button>
														</div>
													</section>
													
												</div>
											</div>
										</div>
									</div>
								</section>
								<section class="col col-sm-3 col-md-3 col-lg-3">
									<!--<hr class="simple">
									<div class="col col-sm-12 col-md-12 col-lg-12"></div>-->
									<div class="widget-body">
										<hr class="simple">
										<h3 class="alert alert-info"> {{select_mesant.mes}} {{select_anoant}} </h3>
									<!--<p>Você fechou o mês anterior com um valor de: {{resumo.creditos_anterior - resumo.debitos_anterior | currency}}</p>-->
										<p>Você fechou o mês anterior com um valor de: {{resumo.percentuais[0].fechamento | currency}}</p>
										<br />
										<label><strong>Recebimentos</strong></label>
										<div class="progress progress-micro">
											<div class="progress-bar bg-color-orange" role="progressbar" style="width: {{percentCredito | number:0}}%;"></div>
										</div>
										<label><strong>Saidas totais</strong></label>
										<div class="progress progress-micro">
											<div class="progress-bar bg-color-redLight" role="progressbar" style="width: {{percentDebito | number:0}}%;"></div>
										</div>
										<label><strong>Despesas fixas</strong></label>
										<div class="progress progress-micro">
											<div class="progress-bar bg-color-blueLight" role="progressbar" style="width: {{percentDespesaFixa | number:0}}%;"></div>
										</div>
										<label><strong>Despesas variáveis</strong></label>
										<div class="progress progress-micro">
											<div class="progress-bar bg-color-teal" role="progressbar" style="width: {{percentDespesaVariavel | number:0}}%;"></div>
										</div>
										<!--label><strong>Imposto</strong></label>
										<div class="progress progress-micro">
											<div class="progress-bar bg-color-teal" role="progressbar" style="width: 0%;"></div>
										</div-->
									</div>
								</section>
							</div>
						</fieldset>
						<!-- FOOTER -->
						<footer>
							<div class="col-sm-9 col-md-9 col-lg-9">
								<div ng-if="tabssel.nome=='Recebimentos' || tabssel.nome=='Doações'">
									<p ><strong>Recebido:</strong> {{resumo.creditosRealizados | currency}}</p>
									<p ><strong>Falta:</strong> {{resumo.creditos - resumo.creditosRealizados | currency}}</p>	
								</div>
								<div ng-if="tabssel.nome!='Recebimentos' && tabssel.nome!='Doações' && tabssel.indice!=6">
									<p ><strong>Pago:</strong> {{resumo.debitosRealizados | currency}}</p>
									<p ><strong>Falta:</strong> {{resumo.debitos - resumo.debitosRealizados | currency}}</p>	
								</div>
								<h4 ng-if="tabssel.nome=='Recebimentos'" class="text-success"><strong>Total:</strong> {{resumo.creditos | currency}}</h4>
								<h4 ng-if="tabssel.nome=='Despesas Fixas'" class="text-danger"><strong>Total:</strong> {{resumo.debitos | currency}}</h4>
								<h4 ng-if="tabssel.nome=='Despesas Variáveis'" class="text-danger"><strong>Total:</strong> {{resumo.debitos | currency}}</h4>
								<h4 ng-if="tabssel.nome=='Pessoas'" class="text-danger"><strong>Total:</strong> {{resumo.debitos | currency}}</h4>
								<h4 ng-if="tabssel.nome=='Impostos'" class="text-danger"><strong>Total:</strong> {{resumo.debitos | currency}}</h4>
							</div>
						</footer>
						<!-- FIM DO FOOTER -->
					</form>
				</div>
				<!-- end widget content -->
			</div>
			<!-- end widget div -->
		</div>
		<!-- end widget -->
	</article>
	<!-- END COL -->
</div>
<!-- END ROW -->

<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
pageSetUp();

// pagefunction
var pagefunction = function() {	
};

</script>