<script src="controllers/controller.formCadastroMoeda.js"></script>
<!-- widget grid -->
<section ng-controller='formCadastroMoeda' id="widget-grid" widget-grid>
	<!-- START ROW -->
	<div class="row">		
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Moedas</h2> 
				</header>
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">

						<form id="cadastroMoeda-form" class="smart-form" novalidate="novalidate" validate-form>							
							<fieldset>
								<div class="row">
																																		
									<section class="col col-4">
										<label class="label"><strong>Nome da Moeda</strong></label>
										<div class="form-control-wrapper inputValidate">
											<i class="icon-append fa fa-question-circle"></i>
											<input class="form-control" name="moeda" id="moeda" placeholder="Descrição"
											ng-model="moeda.moeda"
											data-validate-input
                                            data-required 
                                            data-message-required="Informe a descrição">
											<span class="material-input"></span>
											<b class="tooltip tooltip-top-right">
												<i class="fa fa-warning txt-color-teal"></i> 
												Nome da Moeda</b> 											
										</div>										
									</section>
									<section class="col col-2">
										<label class="label"><strong>Símbolo</strong></label>
										<div class="form-control-wrapper inputValidate">
											<i class="icon-append fa fa-money"></i>
											<input class="form-control" name="simbolo" id="simbolo" placeholder="Ex: R$, $, €"
											ng-model="moeda.simbolo"
											data-validate-input
                                            data-required 
                                            data-message-required="Informe o símbolo">
											<span class="material-input"></span>
											<b class="tooltip tooltip-top-right">
												<i class="fa fa-money txt-color-teal"></i> 
												Símbolo</b> 											
										</div>										
									</section>
									<section class="col col-2">
										<label class="label"><strong>Status</strong></label>
										<div class="form-inline">
											<div class="form-group">
												<label class="radio radio-inline">
													<input type="radio" class="radiobox" name="status" checked="true" value="1" ng-model="moeda.ativo">
													<span>Ativo</span>  
												</label>
											</div>
											<div class="form-group">
												<label class="radio radio-inline">
													<input type="radio" class="radiobox" name="status" value="0" ng-model="moeda.ativo">
													<span>Inativo</span>  
												</label>	
											</div>
										</div>
									</section>																										
								</div>								
							</fieldset>
							<footer>
								<a class="btnmd btnmd-success  pull-right" ng-click="novoCadastro()" id="NovoCadastro">
									Novo
								</a>
								<button class="btnmd btnmd-info  pull-right" ng-click="cadastrarMoeda(moeda)" >
									Salvar
								</button>								
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- END COL -->
		
	</div>

	<!-- END ROW -->


	
	

</section>
<!-- end widget grid -->

<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!	 
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */
	pageSetUp();


</script>
