	  <!-- Modal -->
		
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" ng-click="$dismiss('cancel')" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
	        <h4 class="modal-title" id="myModalLabel">Nova Categoria</h4>
	      </div>
	      <div>
			<form id="cadastroCategoria-form" class="smart-form" novalidate="novalidate" validate-form>		
			  <fieldset>
				<section class="">
					<label class="label">Nome</label>
					<div class="form-group form-control-wrapper inputValidate"><i class="icon-append fa fa-question-circle"></i>
						<input class="form-control empty" name="nome" id="nome" type="text" placeholder="Nome da categoria" ng-model="categoria.descricao"
						data-validate-input 
						data-required
						data-message-required="Por favor, informe o nome da categoria">
						<b class="tooltip tooltip-top-right">
							<i class="fa fa-warning txt-color-teal"></i> 
							Nome da Categoria</b> 
					</div>
				</section>			
			  </fieldset>
		      <footer>
		        <button id="addLista" class="btn btn-primary" ng-click="novaLista(listaConvidado)">Salvar</button>
		        <button type="button" class="btn btn-default" ng-click="$dismiss('cancel')" data-dismiss="modal">Cancelar</button>
		      </footer>
			</form>

	      </div>
	    </div>
	  </div>
		