<script src="controllers/controller.formCadastroProgramaDoacao.js"></script>
<!-- widget grid -->
<section ng-controller='formCadastroProgramaDoacao' id="widget-grid" widget-grid>

	<!-- START ROW -->
	<div class="row">

		
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Programa de Doação</h2> 

				</header>

				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">

						<form id="cadastroProgramaDoacao-form" class="smart-form" novalidate="novalidate" validate-form>							
							<fieldset>
								<div class="row">													<section class="col col-3">
										<label class="label"><strong>Descrição</strong></label>
										<div class="form-control-wrapper inputValidate">
											<i class="icon-append fa fa-question-circle"></i>
											<input class="form-control" name="descricao" id="descricao" placeholder="Descrição"
											ng-model="programaDoacao.descricao"
											data-validate-input
                                            data-required 
                                            data-message-required="Informe a descrição">
											<span class="material-input"></span>
											<b class="tooltip tooltip-top-right">
												<i class="fa fa-warning txt-color-teal"></i> 
												Descrição da categoria</b>				
										</div>										
									</section>				
									<section class="col col-3">
										<label class="label"><strong>Data de Início</strong></label>
										<label class="input-group form-control-wrapper inputValidate">
											<input class="form-control" type="text" pick-a-date="programaDoacao.data_inicio" placeholder="Selecione uma data" pick-a-date-options='{	
				                                format: "dd/mm/yyyy",
				                                formatSubmit: "yyyy-mm-dd"                      
				                            }' />														
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>	
                                            <input style="width:0px; height:0px; visibility: hidden; position: absolute" name="data_inicio" id="data_inicio" type="text" 
                                            ng-model="programaDoacao.data_inicio1"
                                            data-validate-input
                                            data-required 
                                            data-message-required="Por favor, informe uma data válida">
										</label>															
									</section>
									<section class="col col-3">
										<label class="label"><strong>Data de Fim</strong></label>
										<label class="input-group form-control-wrapper inputValidate">
											<input class="form-control" type="text" pick-a-date="programaDoacao.data_fim" placeholder="Selecione uma data" pick-a-date-options='{	
				                                format: "dd/mm/yyyy",
				                                formatSubmit: "yyyy-mm-dd"                      
				                            }' />														
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>	
                                            <input style="width:0px; height:0px; visibility: hidden; position: absolute" name="data_fim" id="data_fim" type="text" 
                                            ng-model="programaDoacao.data_fim1"
                                            data-validate-input
                                            data-required 
                                            data-message-required="Por favor, informe uma data válida">
										</label>
									</section>
									<section class="col col-3">
										<label class="label"><strong>Status</strong></label>
										<div class="form-inline">
											<div class="form-group">
												<label class="radio radio-inline">
													<input type="radio" class="radiobox" name="status" checked="true" value="1" ng-model="programaDoacao.ativo">
													<span>Ativo</span>  
												</label>
											</div>
											<div class="form-group">
												<label class="radio radio-inline">
													<input type="radio" class="radiobox" name="status" value="0" ng-model="programaDoacao.ativo">
													<span>Inativo</span>  
												</label>	
											</div>
										</div>
									</section>																										
								</div>								
							</fieldset>
							<footer>
								<a class="btnmd btnmd-success  pull-right" ng-click="novoCadastro()" id="NovoCadastro">
									Novo
								</a>
								<button class="btnmd btnmd-info  pull-right" ng-click="cadastrarProgramaDoacao(programaDoacao)" id="SalvarProgramaDoacao">
									Salvar
									<div class="ripple-wrapper"></div>
								</button>		
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- END COL -->
		
	</div>

	<!-- END ROW -->


	
	

</section>
<!-- end widget grid -->

<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!	 
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */
	pageSetUp();
</script>