<script src="controllers/controller.boletimAluno.js"></script>

<div class="container" ng-controller="boletimAluno">
	<div class="row">
		
		<!-- =========================Start Col right section ============================= -->
		<article class="col-lg-12 col-right">

			<div class="row no-margin-left">
			<section class="col col-lg-2">
					<img src="./img/aluno.jpg" class="img-responsive img-thumbnail">
				</section>
				<section class="col col-lg-10">
					<table class="table table-striped table-bordered">
						<tr>
							<td class="info">Ahmad Youssef Anka</td>
							<td class="info">MATRÍCULA: 99009862</td>

						</tr>
						<tr>
							<td >CURSO: Ensino Medio</td>
							<td>TURMA: 1º M - Nº: 2</td>

						</tr>
					</table>
				</section>

				<section class="col col-lg-10">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Disciplinas</th>
									<th>1º Trimestre <small>MT1</small></th>
									<th>2º Trimestre <small>MT2</small></th>
									<th>3º Trimestre <small>MT3</small></th>
									<th>MA</th>
									<th>RF</th>
									<th>MF</th>
									<th>TPT</th>
									<th>F.</th>
									<th>Freq.</th>
									<th>Situação</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Artes Desenho Geométrico</td>
									<td>7,0</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>0</td>
									<td>-</td>
									<td>Cursando</td>
								</tr>
								<tr>
									<td>Artes Desenho Geométrico</td>
									<td>7,0</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>0</td>
									<td>-</td>
									<td>Cursando</td>
								</tr>
								<tr>
									<td>Artes Desenho Geométrico</td>
									<td>7,0</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>0</td>
									<td>-</td>
									<td>Cursando</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>				
			</div>
		</article><!-- end col right-->
	</div><!-- end row-->
</div><!-- end container-->