
<div class="container" >
	<div class="row">
		<article class="col-lg-12 col-right">
			<div class="row no-margin-left">			
				<section class="col col-lg-12" style="padding-left:0px; padding-right: 0px;">				
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Aluno</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<section class="col-lg-1">
									<img src="./img/aluno.jpg" class="img-responsive img-thumbnail">							
								</section>
								<section class="col-lg-11" style="padding-left:inherit">
									<div class="alert alert-info" role="alert" style="padding: 10px;">
										<strong>Nome:</strong> Abdalla Ziad Hamzeh El Rifi <br>
										<strong>Turma:</strong> 1º M<br>
										<strong>Nº</strong> 01
									</div>
								</section>
							</div>

							<div class="row">
								<section class="col col-lg-12">
									<div class="panel-group" id="accordion">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
														Liquidado</a>
													</h4>
												</div>
												<div id="collapse1" class="panel-collapse collapse">
													<div class="panel-body">
														<div class="table-responsive">
										<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>Ano</th>
												<th>Mês</th>
												<th>Tipo</th>
												<th>Nº Doc.</th>
												<th>Vencimento</th>
												<th>Valor</th>
												<th>Data Pagto</th>
												<th>Valor Pago</th>
												<th>Observação</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>2015</td>
												<td>01</td>
												<td>MENSALIDADE</td>
												<td>24000000000010856</td>
												<td>19/01/2015</td>
												<td>1.092,00</td>
												<td>19/01/2015</td>
												<td>1.092,00</td>
												<td></td>
											</tr>
										</tbody>
									</table>
									</div>
													</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
																Em Aberto</a>
															</h4>
														</div>
														<div id="collapse2" class="panel-collapse collapse">
															<div class="panel-body">
																Não consta nenhuma pendência.
															</div>
															</div>
														</div>													
													</div>
												</section>								
											</div>
										</div>
									</div>
								</section>			
							</div>
						</article><!-- end col right-->
					</div><!-- end row-->
				</div><!-- end container-->

