
<script src="controllers/controller.consultaDiarioDeClasse.js"></script>

<div class="container" ng-controller="consultaDiarioDeClasse">
	<div class="row">
		
		<!-- =========================Start Col right section ============================= -->
		<article class="col-lg-12 col-right">
			<section class='col-lg-12'>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Conteúdo e Presença</h3>
					</div>
					<div class="panel-body">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div ng-repeat="fase in fases" class="btn-group" role="group">
								<a type="button" href="#consultaConteudoPresenca/{{fase.fase}}" class="btn btn-primary"><i class="icon-tasks"></i> {{fase.descricao}} </a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class='col-lg-12'>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Avaliações e Notas</h3>
					</div>
					<div class="panel-body">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div ng-repeat="fase in fases" class="btn-group" role="group">
								<a type="button" href="#consultaAvaliacoesNotas/{{fase.fase}}" class="btn btn-success"><i class="icon-tasks"></i> {{fase.descricao}} </a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</article><!-- end col right-->
	</div><!-- end row-->
</div><!-- end container-->





