<script src="controllers/controller.consultaFotosAlunos.js"></script>

<style type="text/css">
.thumb{
	margin-bottom: 25px;
}
</style>

<div class="container" ng-controller="consultaFotosAlunos">
	<div class="row">
		
		<!-- =========================Start Col right section ============================= -->
		<article class="col-lg-12 col-right">			
			<div data-ng-include="'includes/forms/filtroSimplesAluno.html'"></div>	
		</article>
		<article class="col-lg-12 col-right" ng-show="filtroAluno.dados.showTurmaAlunos">
			<div class="row no-margin-left">				
				<section class="col col-lg-12">
					<div style="text-align: center;" ng-repeat="foto in filtroAluno.dados.turmaAlunos | filter:filtroAluno.dados.busca:strict" class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a href="../img/pessoa/{{foto.foto}}" title="{{foto.nome}}" class="fancybox" rel="gallery1" >
							<span class="photo_icon"></span>
							<img class="img-responsive img-thumbnail" src="../img/pessoa/{{foto.foto}}" alt="{{foto.nome}}">
						</a>
						<span >{{foto.nome}}</span>
					</div>
				</section>
				<!-- <section class="col col-lg-12" style="text-align: center;">					
					<ul class="pagination">
						<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
						<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
					</ul>					
				</section> -->				
			</div>
		</article><!-- end col right-->
	</div><!-- end row-->
</div><!-- end container-->





