<script src="controllers/controller.novoComunicado.js"></script>
<style type="text/css">
	.form-group{
		margin-bottom: 0px;
	}
</style>
<div class="container" ng-controller="novoComunicado">
	<div class="row">
		<article class="col-lg-12 col-right">			
			<form id="cadastroNovoComunicado-form" class="smart-form" novalidate="novalidate" validate-form>
				<fieldset>
					<div class="row no-margin-left">
					
						<section class="col col-lg-9">
							<label>Descrição</label>
							<div class="form-control-wrapper inputValidate input-group" style="width:100%">

								<input 	class 					="form-control" 
										name 					="descricao" 
										id 						="descricao" 
										placeholder				="Descrição"
										ng-model				="comunicado.descricao"
										maxlength 				="100"
                                		data-message-required 	="Por favor, informe a Descrição"
										data-validate-input
										data-required>
							</div>
							</section>
							<section class="col-lg-3">
							<label>Data do envio</label>
							<div class="input-group form-control-wrapper inputValidate input-group" style="width:100%">
								<calendario date-format="dd/MM/yyyy">							
									<input  id 					 ="data_envio"
											name				 ="data_envio"
											class 				 ="form-control"
											type 				 ="text"
											placeholder			 ="Dia/Mês/Ano"
											ng-model			 ="data_envio"
	                                		data-message-required="Por favor, informe a Data de Envio"
											data-validate-input
											data-required>
								</calendario>
							</div>
						</section>
					</div>
					<div class="row no-margin-left" style="margin-top:20px;">
						<section class="col col-lg-2">							
							<label>Destino</label>
							<div class="form-inline" style="width:100%">
								<div class="form-group">
									<label class="radio-inline">
										<input type="radio" class="radiobox" name="status" checked="true" value="0" ng-model="comunicado.destino">
										<span>Pais</span>
									</label>
								</div>
								<div class="form-group">
									<label class="radio-inline">
										<input type="radio" class="radiobox" name="status" value="1" ng-model="comunicado.destino">
										<span>Alunos</span>
									</label>	
								</div>
							</div>
						</section>
						<section class="col-lg-4">
						<label>Email</label>
						<div style="width:100%" class="form-group form-control-wrapper inputValidate input-group">
							<input type="email" name="email" id="email" ng-model="comunicado.email_resposta" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Email"
							data-validate-input
							data-required=""
							data-message-required="Digite um email válido">
						</div>
					</section>
						<section class="col-lg-3">
						<label>&nbsp;</label>
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="comunicado.exibir_turma"> Exibir a turma no e-mail
							</label>

							<label class="checkbox-inline">
								<input type="checkbox" ng-model="comunicado.publicado" ng-checked="false" ng-value="0"> Publicado
							</label>
						</section>
					</div>
				</fieldset>
			
				<hr>
				<div class="row no-margin-left">
					<section class="col-lg-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Turmas</h3>
							</div>
							<div class="panel-body">

								<div style="padding:0px;" ng-repeat="item in listaCursoTurma" class="col-lg-12">
									<div class="checkbox">
										<label style="padding-left: 0px;"><strong> {{item.curso}} </strong></label>
									</div>
									<div class="col-lg-12" style="margin-bottom:10px; padding:0px;" ng-repeat="item_turma in item.turmas">
										<div class="well well-sm" style="margin-bottom:0px">
											<label class="checkbox-inline">
												<input 	type 	 			  ="checkbox" 														
														checklist-model		  ="comunicado.id_turmas" 
														checklist-value 	  ="item_turma.id_turma"	
				                                		data-message-required ="Por favor, informe o E-mail"
														data-validate-input
														data-required> 
												{{item_turma.turma}}

											</label>
										</div>
									</div>									
								</div>

								<div class="col-lg-12 input-group form-control-wrapper inputValidate" style="margin-top:30px">
									<textarea ckeditor="editorOptions" name="texto" id="texto" ng-model="comunicado.texto"
									data-validate-input
									data-required
									data-message-required ="Por favor, entre com o texto"
									></textarea>									
								</div>

								<section class="col col-lg-12" style="padding:0px">
									<label>&nbsp;</label>
									<a type="buttom" id="novoComunicado" class="btn btn-primary pull-right" ng-click="cadastrar()"> 
										Cadastrar
										<i class="fa fa-plus-square"></i>
									</a>
								</section>
							</div>
						</div>
					</section>
				</div>
			</form>
		</article><!-- end col right-->
	</div><!-- end row-->
</div><!-- end container-->

<script type="text/javascript">
	$(function() {                
                // Validation
                $("#cadastroNovoComunicado-form").validate({
                    // Rules for form validation
                    rules: {
                    	descricao: {
                    		required: true,
                    	},
                    	data_envio: {
                    		required: true,
                    	},
                    	email: {
                    		required: true,
                    	},
                    	texto: {
                    		required: true,
                    	}
                    },
                    // Messages for form validation
                    messages: {
                    	descricao: {
                    		required: 'Entre com uma descrição',
                    	},
                    	data_envio: {
                    		required: 'Informe a data de envio'
                    	},
                    	email: {
                    		required: 'Entre com um email',
                    	},
                    	texto: {
                    		required: 'Entre com um texto',
                    	}
                    },
                    // Do not change code below
                    errorPlacement: function(error, element) {
                    	error.insertAfter(element.parent());
                    }
                });

});
</script>
