<script src="controllers/controller.formCadastroVeiculo.js"></script>
<!-- widget grid -->
<section ng-controller='formCadastroVeiculo' id="widget-grid" widget-grid>
	<!-- START ROW -->
	<div class="row">
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Cadastro de Veiculos</h2>
				</header>
				<!-- widget div-->
				<div>
					<!-- widget content -->					
					<div class="widget-body no-padding">
						<div class="smart-form" >
						<fieldset>
							<section class="col-sm-12 col-md-12 col-lg-12">
								<div class="widget-body">
											
									<form id="cadastroVeiculo-form" class="smart-form" novalidate="novalidate" validate-form>
										<fieldset>
											<div class="row">
											<!-- ****************************************************************************************** -->

												<section class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<label class="label"><strong>Descrição</strong></label>
													<div class="form-control-wrapper inputValidate">
														<i class="icon-append fa fa-question-circle"></i>

														<input 	class 					="form-control" 
																name 					="descricao" 
																id 						="descricao" 
																placeholder				="Descrição do Veiculo"
																ng-model				="veiculo.descricao"																			
																maxlength 				="200"
			                                            		data-message-required 	="Por favor, informe a Descrição do Veiculo"
																data-validate-input
																data-required>

														<span class="material-input"></span>
														<b class="tooltip tooltip-top-right">
															<i class="fa fa-warning txt-color-teal"></i>
															Informe a Descrição do Veiculo
														</b>
													</div>
												</section>

												<section class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<label class="label"><strong>Placa</strong></label>
													<div class="form-control-wrapper inputValidate">
														<i class="icon-append fa fa-question-circle"></i>

														<input 	class 					="form-control" 
																name 					="placa"
																id 						="placa" 
																placeholder				="Placa do Veiculo"
																ng-model				="veiculo.placa"
																maxlength 				="8"
																mask 					= "aaa-9999"
			                                            		data-message-required 	="Por favor, informe a placa do Veiculo"
																data-validate-input
																data-required>

														<span class="material-input"></span>
														<b class="tooltip tooltip-top-right">
															<i class="fa fa-warning txt-color-teal"></i>
															Informe a placa do Veiculo
														</b>
													</div>
												</section>

												<section class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<label class="label"><strong>Quantidade de Alunos</strong></label>
													<div class="form-control-wrapper inputValidate">
														<i class="icon-append fa fa-question-circle"></i>

														<input 	class 					="form-control" 
																name 					="quantidade_alunos"
																id 						="quantidade_alunos"
																placeholder				="Quantidade de Alunos"
																ng-model				="veiculo.quantidade_alunos"
																maxlength 				="2"
			                                            		data-message-required 	="Por favor, informe a Quantidade de Alunos"
																data-validate-input
																data-required>

														<span class="material-input"></span>
														<b class="tooltip tooltip-top-right">
															<i class="fa fa-warning txt-color-teal"></i>
															Informe a Quantidade de Alunos
														</b>
													</div>
												</section>

											<!-- ****************************************************************************************** -->
											</div>
											<div class="row">
											<!-- ****************************************************************************************** -->
												
												<section class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<label class="label"><strong>Foto</strong></label>
													<div for="file" class="form-control form-control-wrapper input-file">
														<div class="button">																	
														<input 	class 	="form-control"
																ng-model="veiculo.foto_veiculo" 
																type 	="file" 
																accept 	="image/*" 
																name 	="foto_veiculo" 
																id 		="foto_veiculo" 
																onchange="this.parentNode.nextSibling.value = this.value; 
																		  angular.element(this).scope().setPathUpload(this)">
																Procurar
														</div>
														<input 	onclick 	="$('#foto_veiculo').trigger('click')" 
																class 		="form-control" 
																type 		="text" 
																placeholder ="Sua foto"
																name 	="foto_veiculo1" 
																id 		="foto_veiculo1"
																readonly>
													</div>
												</section>

												<section class="col col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<label class="label"><strong>Status</strong></label>
													<div class="form-inline">
														<div class="form-group">
															<label class="radio radio-inline">
																<input type="radio" class="radiobox" name="status" checked="true" value="1" ng-model="veiculo.ativo">
																<span>Ativo</span>  
															</label>
														</div>
														<div class="form-group">
															<label class="radio radio-inline">
																<input type="radio" class="radiobox" name="status" value="0" ng-model="veiculo.ativo">
																<span>Inativo</span>  
															</label>	
														</div>
													</div>
												</section>

											<!-- ****************************************************************************************** -->
											</div>
										</fieldset>
										<footer>
											<a class="btnmd btnmd-success  pull-right" ng-click="novoCadastro()" id="NovoCadastro"> Novo <div class="ripple-wrapper"></div></a>
											<button class="btnmd btnmd-info pull-right" ng-click="cadastrarVeiculo(veiculo)" id="SalvarVeiculo"> Salvar </button>
										</footer>
									</form>			

								</div>
							</section>
						</fieldset>
						</div>
					</div>
				</div>
			</div>
		</article>

		<!-- ========== CADASTRO DE MOTORISTA ========== -->
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12" ng-show="showMotorista">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Motorista</h2>
				</header>
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<form id="cadastroVeiculo-Motorista-form" class="smart-form">
							<fieldset>
								<div class="row">

									<section class="col col-6">
										<label class="label"><strong>Motorista</strong></label>
										<div class="form-control-wrapper inputValidate">
											<ui-select 	ng-model			="item.selected"
														theme				="bootstrap"
														ng-disabled			="disabled"
														reset-search-input	="false"
														ng-change			="salvarMotorista(item.selected)">
												<ui-select-match placeholder="Entre com uma palavra ou selecione ">{{$select.selected.nome}}
											</ui-select-match>
											<ui-select-choices  repeat		 ="item in motoristas | filter: {ativo: true} | propsFilter: {nome: $select.search}"
																refresh		 ="refreshMotorista($select.search)"
																refresh-delay="0">
												<div ng-bind-html="item.nome | highlight: $select.search"></div>
											</ui-select-choices>
										</ui-select>
										<input 	data-validate-input
												data-required 
												data-message-required="Selecione o motorista"
												name 				 ="id_motorista" 
												id 					 ="id_motorista" 
												style 				 ="width:0px; height:0px; visibility: hidden; position:absolute" 
												type 				 ="text" 
												ng-model 			 ="motorista.id">
										</div>
									</section>
								</div>
								<div class="row" ng-show="selMotoristas.length > 0">
									<table class="table table-bordered">
										<thead>
											<th class="label-primary" style="color:white"><h6>Nome</h6></th>
											<th class="label-primary" style="color:white"><h6>CPF</h6></th>
											<th class="label-primary" style="color:white"><h6>Ações</h6></th>
										</thead>
										<tbody>
											<tr ng-repeat="selMotorista in selMotoristas track by $index">
												<td width="250">{{selMotorista.nome}}</td>
												<td width="120" width="120">{{selMotorista.cpf_formatado}}</td>
												<td align="center" width="50">
													
													<button type="button" ng-click='excluirMotorista($index, selMotorista)' popover="Excluir cadastro" popover-trigger="mouseenter" class="btnmd btnmd-danger btnmd-raised fa fa-trash-o btnmd-sm" style="margin:0px;">
														<div class="ripple-wrapper"></div>
													</button>
													
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</fieldset>

						</form>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</article>
		<!-- END COL -->		
	</div>


	
</section>


<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
	pageSetUp();

	// end pagefunction
	// run pagefunction on load

</script>