<script src="controllers/controller.consultaFornecedor.js"></script>             
<style type="text/css">
.ng-table th.text-left {
    text-align: left;
}
</style>
<!-- widget grid -->
<section ng-controller='consultaFornecedor' id="widget-grid" widget-grid>
    
    
  <!-- START ROW -->
  <div class="row">

    <!-- NEW COL START -->
    <article class="col-sm-12 col-md-12 col-lg-12">

      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

        <header>
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2>Consulta de Fornecedor</h2>

        </header>

        <!-- widget div-->
        <div>
          <!-- widget content -->
          <div class="widget-body no-padding">
            <div>   
            <div class="table-responsive">
              <table show-filter="true" class="table table-striped table-bordered">
                <thead>
                  <tr>                    
                    <th ng-click="changeSorting('nome')">NOME <i class="glyphicon" ng-class="getIcon('nome')"></i></th>
                    <th ng-click="changeSorting('cpf')">CPF/CNPJ <i class="glyphicon" ng-class="getIcon('cpf')"></i></th>
                    <th>CIDADE</th>
                    <th>ESTADO</th>
                    <th>ATIVO</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td><input ng-model="search.nome" id="search" class="form-control" placeholder="Busque pelo nome"></td>
                    <td><input ng-model="search.cpf" id="search" class="form-control" placeholder="Busque pelo cpf"></td>
                    <td><input ng-model="search.cidade" id="search" class="form-control" placeholder="Busque pela cidade"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr ng-show="user.length == 0">
                    <td colspan="7">Não existem dados para serem exibidos.</td>
                  </tr>
                  <tr dir-paginate="users in user | filter:search:strict | itemsPerPage: pageSize | orderBy:sort.active:sort.descending" current-page="currentPage" pagination-id="entiPagination">
                    <td style="display:table-cell;vertical-align:middle">{{users.nome}}</td>
                    <td style="display:table-cell;vertical-align:middle">{{users.cpf}}</td>
                    <td style="display:table-cell;vertical-align:middle">{{users.cidade}}</td>
                    <td style="display:table-cell;vertical-align:middle">{{users.estado}}</td>
                    <td style="display:table-cell;vertical-align:middle" align="center">
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="{{users.ativo}}" ng-checked="users.ativobol" ng-click="updatePessoa(users.id)" type="checkbox"><span class="ripple"></span><span class="check"></span>
                          </label>
                        </div>
                    </td>
                    <td align="center" style="display:table-cell;vertical-align:middle"><button ng-click='editCadastro(users.id)' popover="Editar cadastro" popover-trigger="mouseenter" class="btnmd btnmd-primary btnmd-raised fa fa-edit btnmd-sm">
                      <div class="ripple-wrapper"></div>
                    </button></td>
                  </tr>
                </tbody>
              </table>
            </div>           
            <!-- <table show-filter="true" ng-table="tableParams" class="table table-striped table-bordered">
               
                <tbody>
                    <tr ng-repeat="user in $data">
                        <td width="50" data-title="'Ações'">
                          <button ng-click='editCadastro(user.id)' popover="Editar cadastro" popover-trigger="mouseenter" class="btn btn-default ng-scope"><i class="fa fa-pencil-square-o fa-4"></i></button>
                        </td>
                        <td width="250" data-title="'NOME'" sortable="'nome'" filter="{ 'nome': 'text' }">{{user.nome}}</td>
                        <td width="120" width="120" data-title="'CPF/CNPJ'" sortable="'cpf'" filter="{ 'cpf': 'text' }">{{user.cpf}}</td>
                        <td align="center" width="120" data-title="'CELULAR'" sortable="'telefone_celular'">{{user.telefone_celular}}</td>
                        <td width="120" align="center" data-title="'CIDADE'" filter="{ 'cidade': 'text' }">
                          <span ng-repeat="end in user.endereco">{{end.cidade}}</span> 
                        </td>
                        <td width="70" align="center" data-title="'ESTADO'">
                          <span ng-repeat="end in user.endereco">{{end.estado}}</span> 
                        </td>       
                        </td>
                        <td width="70" align="center" data-title="'ATIVO'">                            
                            <input type="checkbox" name="ativo" ng-show="user.ativo == 1" checked=checked ng-click="updatePessoa(user.id)" />
                            <input type="checkbox" name="ativo" ng-show="user.ativo == 0" ng-click="updatePessoa(user.id)" />                            
                        </td>
                    </tr>
                </tbody>
            </table>  -->
            </div>     
          <div>      
        <div>
        <div class="row" style="margin-top:20px; margin-bottom:5px;">
          <div class="col-xs-5 col-ls-6 col-md-6 col-lg-6" style="padding-top: 8px;">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" style="padding-top:6px; width:auto; padding-right: 0px;" class="col-xs-3 control-label"><strong>Itens por página:</strong></label>
                <div class="col-xs-4 col-sm-2 col-lg-2 col-md-2">
                  <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
              </div>
            </form>
          </div>
          <div class="col-xs-7 col-ls-4 col-md-4 col-lg-4 pull-right">
            <dir-pagination-controls class="pull-right " boundary-links="true" pagination-id="entiPagination" on-page-change="pageChangeHandler(newPageNumber)" template-url="template/dirPagination.tpl.html"></dir-pagination-controls>            
          </div>              
        </div>  
      </div>

    </article>
    <!-- END COL -->    

  </div>

  <!-- END ROW -->


  
  

</section>
<!-- end widget grid -->

<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">

  pageSetUp();
  
  var pagefunction = function() {
    
  };

  pagefunction();
        

</script>
